<h1>TP 1 : prétraitement des donnéés numériques</h1>

<h3> Importation  des bibliothèque</h3>

In [1]:
import numpy as np
import pandas as pd

<h3> Importation  de DataSet</h3>

In [2]:
df=pd.read_csv('consommation-nourriture.csv')
df.head()

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5

<h3>Vérifivation des valeus manquantes</h3>

In [7]:
df.isnull().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         0
Biscuits          0
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           0
Crisp bread       0
dtype: int64

<h3>Méthodes 1</h3>

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         0
Biscuits          0
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           0
Crisp bread       0
dtype: int64

<h3>Méthodes 2</h3>

In [6]:
df['Biscuits'].mean()
print(df['Biscuits'])
df['Biscuits'].replace(np.NaN,df['Biscuits'].mean())

0     57.0
1     55.0
2     76.0
3     62.0
4     74.0
5     79.0
6     91.0
7     22.0
8     29.0
9     31.0
11    66.0
12    62.0
15    80.0
Name: Biscuits, dtype: float64

0     57.0
1     55.0
2     76.0
3     62.0
4     74.0
5     79.0
6     91.0
7     22.0
8     29.0
9     31.0
11    66.0
12    62.0
15    80.0
Name: Biscuits, dtype: float64

<h3>Vérifivation des valeus catégorielles</h3>

In [8]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [9]:
df=pd.read_csv('iris.csv')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  flower
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
y=df.iloc[ : , 4:].values
print(y)
Label_Encoder=LabelEncoder()
y=Label_Encoder.fit_transform(y.ravel())
print(y)

[['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [13]:
dummy=pd.get_dummies(df['flower'])
print(dummy)

     setosa  versicolor  virginica
0      True       False      False
1      True       False      False
2      True       False      False
3      True       False      False
4      True       False      False
..      ...         ...        ...
145   False       False       True
146   False       False       True
147   False       False       True
148   False       False       True
149   False       False       True

[150 rows x 3 columns]

In [14]:
df=pd.concat([df,dummy],axis=1)
df.drop(['flower'],axis=1)

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True

<h3>Mise a l'échelle des caractéristiques</h3>

In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [20]:
df=pd.read_csv('nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [26]:
x = df[['Age','Salary']]
mise_a_echelle=StandardScaler()
x=mise_a_echelle.fit_transform(x)
print(x)

[[-0.44070124  0.5528331 ]
 [-0.44070124  0.37397928]
 [ 0.01392735         nan]
 [-1.12264412 -0.70721445]
 [ 0.46855594  0.03011769]
 [ 0.46855594  1.37024818]
 [-1.34995842 -0.70294135]
 [-0.44070124 -0.51260453]
 [-1.12264412 -0.57784974]
 [-1.12264412 -0.27025533]
 [-0.66801553 -0.43524071]
 [ 0.01392735  0.39633113]
 [ 0.01392735 -0.27131403]
 [-1.57727272 -0.59211638]
 [-0.21338694 -0.42610581]
 [ 0.01392735 -0.27131403]
 [-0.66801553 -0.76533419]
 [ 0.24124165 -0.63994756]
 [-1.34995842 -0.67144445]
 [ 1.15049883  0.27899907]
 [-1.12264412 -0.62083347]
 [-0.21338694 -0.90142329]
 [-0.89532983 -0.63994756]
 [ 0.24124165  2.8422858 ]
 [-1.34995842 -0.70882261]
 [-0.21338694 -0.74576503]
 [-0.44070124 -0.73924204]
 [-0.21338694 -0.74576503]
 [ 0.24124165 -0.74576503]
 [ 0.01392735  1.2239739 ]
 [ 0.69587024  0.60445933]
 [ 1.37781313 -0.61401105]
 [-0.89532983 -0.92120495]
 [ 1.15049883  3.45223662]
 [ 1.60512742  0.49012935]
 [-0.44070124 -0.76533419]
 [-0.66801553 -0.76533419]
 [-0.89532983 -0.62609444]
 [ 0.24124165  1.49468887]
 [-0.21338694 -0.20919133]
 [-1.57727272 -0.1361121 ]
 [-0.21338694 -0.38838592]
 [ 0.24124165 -0.61374954]
 [ 1.15049883 -0.74576503]
 [-0.44070124 -0.16132952]
 [-0.89532983 -0.89506896]
 [ 2.28707031         nan]
 [-0.44070124 -0.74576503]
 [-0.44070124 -0.73567116]
 [-1.12264412 -0.04129978]
 [-1.12264412 -0.76533419]
 [-1.12264412 -0.72147171]
 [ 1.15049883  0.31728851]
 [-0.66801553 -0.51650775]
 [-0.66801553 -0.82659078]
 [-1.12264412 -0.2651322 ]
 [-1.57727272 -0.04977706]
 [ 0.01392735 -0.74576503]
 [-1.12264412 -0.37777208]
 [-0.44070124 -0.74576503]
 [-1.57727272 -0.82659078]
 [-0.89532983 -0.38838592]
 [-1.57727272 -0.63535282]
 [ 0.46855594  1.67656372]
 [-0.21338694  0.99692612]
 [ 0.46855594 -0.44850034]
 [-0.66801553  0.41301212]
 [ 0.69587024  1.37024818]
 [-0.89532983 -0.57447261]
 [ 0.01392735  0.27300198]
 [-0.89532983 -0.80267769]
 [-0.44070124 -0.24673087]
 [ 2.05975601 -0.37192146]
 [ 0.46855594 -0.88017992]
 [-0.66801553 -0.03488209]
 [-0.66801553 -0.63815561]
 [ 1.37781313 -0.44850034]
 [-0.66801553 -0.18556712]
 [ 0.92318453  1.71485316]
 [-0.44070124 -0.74576503]
 [ 0.24124165  1.24978691]
 [-0.21338694 -0.54254917]
 [-0.21338694  1.80308544]
 [ 1.15049883  1.31481579]
 [ 0.69587024  0.13421233]
 [-1.57727272 -0.71040779]
 [-0.89532983 -0.76533419]
 [ 0.69587024 -0.68379586]
 [ 0.24124165 -0.19674726]
 [-0.21338694  2.04050487]
 [ 1.37781313 -0.87164559]
 [ 0.01392735 -0.71641119]
 [ 0.46855594 -0.90578273]
 [ 2.05975601  0.15934456]
 [-0.89532983 -0.82659078]
 [ 0.46855594  0.92034723]
 [ 0.01392735  2.69271307]
 [ 0.24124165 -0.71641119]
 [ 0.01392735  2.8422858 ]
 [ 0.46855594 -0.74576503]
 [ 0.92318453  3.18300345]
 [ 2.5143846  -0.28079258]
 [ 2.7416989  -0.74567887]
 [ 0.92318453  0.42928513]
 [-0.89532983 -0.33156515]
 [-0.44070124 -0.70510087]
 [ 0.92318453 -0.35277674]
 [-0.66801553 -0.76533419]
 [-0.89532983 -0.79310533]
 [ 2.28707031  3.85906195]
 [-0.66801553 -0.76533419]
 [ 0.46855594  2.05796811]
 [ 1.37781313 -0.82659078]
 [-0.44070124 -0.59701552]
 [-0.89532983 -0.70588198]
 [-1.34995842 -0.32745976]
 [-1.57727272  0.04985973]
 [ 0.01392735 -0.73924204]
 [ 0.46855594  0.41301212]
 [ 2.05975601 -0.74576503]
 [ 0.92318453  0.07207698]
 [-0.21338694  1.657419  ]
 [-1.80458701 -0.51974934]
 [ 0.24124165 -0.88764349]
 [ 1.37781313  1.56169539]
 [-1.34995842 -0.70500898]
 [-0.44070124 -0.73924204]
 [-0.66801553  1.657419  ]
 [-1.12264412 -0.19825586]
 [ 0.01392735 -0.72897051]
 [-0.44070124 -0.91645055]
 [ 1.15049883 -0.74576503]
 [ 0.69587024  0.1258413 ]
 [ 0.92318453  0.1258413 ]
 [-1.12264412 -0.5363593 ]
 [-0.89532983 -0.91115225]
 [-0.44070124 -0.73924204]
 [ 0.01392735 -0.73271886]
 [ 0.69587024  0.23316775]
 [ 2.05975601 -0.64967556]
 [ 0.01392735 -0.38413847]
 [-1.12264412 -0.27652714]
 [ 0.24124165  0.03271352]
 [-0.44070124  2.10769327]
 [-0.44070124 -0.74576503]
 [-0.66801553 -0.82659078]
 [ 0.46855594  1.44742074]
 [ 0.01392735  0.54702516]
 [-0.89532983 -0.3227961 ]
 [-0.66801553 -0.76533419]
 [ 0.69587024  0.89163015]
 [-0.44070124 -0.76533419]
 [ 0.92318453 -0.49636215]
 [-0.21338694  2.21405177]
 [ 1.83244172 -0.06560592]
 [-0.89532983 -0.82659078]
 [ 1.83244172  0.49892597]
 [ 0.69587024  0.70018294]
 [ 0.01392735 -0.74576503]
 [-0.66801553 -0.47138977]
 [-0.44070124  0.13421233]
 [ 0.01392735 -0.73271886]
 [ 0.92318453  1.63827428]
 [-1.34995842 -0.66078467]
 [ 0.01392735  2.91964273]
 [-0.66801553 -0.63307843]
 [-0.44070124 -0.70747558]
 [ 1.37781313  0.64141419]
 [-0.66801553  2.21405196]
 [ 0.92318453  3.47051983]
 [ 1.83244172 -0.74576503]
 [ 1.83244172         nan]
 [ 1.83244172 -0.74576503]
 [ 0.92318453 -0.68283173]
 [ 0.01392735  2.8422858 ]
 [-0.44070124 -0.90583021]
 [ 0.46855594  0.02054533]
 [-0.44070124  0.79375563]
 [ 0.69587024  0.03011769]
 [-0.44070124  1.80308544]
 [ 1.37781313 -0.52507923]
 [ 1.37781313 -0.44850034]
 [ 0.46855594  0.31728851]
 [ 2.05975601 -0.5115889 ]
 [-0.44070124 -0.90578273]
 [-0.44070124 -0.68734223]
 [-0.89532983 -0.37349898]
 [-0.89532983 -0.76533419]
 [-1.12264412 -0.30068567]
 [-0.89532983  2.13603703]
 [-0.89532983 -0.81225005]
 [-0.21338694  1.73649512]
 [-1.57727272 -0.38303305]
 [ 0.24124165  0.27325565]
 [-0.21338694  0.03011769]
 [ 0.92318453 -0.35277674]
 [ 0.01392735 -0.15175716]
 [-0.66801553 -0.73432605]
 [ 0.69587024  1.04478792]
 [-0.21338694  2.35047821]
 [ 0.69587024  0.60445933]
 [ 0.24124165 -0.16132952]
 [-0.44070124 -0.66696459]
 [ 0.24124165 -0.88658058]
 [ 0.46855594 -0.16132952]
 [ 0.46855594 -0.08585625]
 [-1.12264412 -0.71652644]
 [ 0.69587024  0.41301212]
 [-1.57727272 -0.47573179]
 [-0.44070124 -0.76533419]
 [-0.89532983 -0.73432605]
 [-1.34995842 -0.55303818]
 [ 0.01392735 -0.35277674]
 [-0.66801553 -0.46782885]
 [-0.44070124 -0.74576503]
 [-1.34995842 -0.60886419]
 [-0.44070124 -0.36364692]
 [-1.34995842 -0.76343101]
 [ 0.24124165  0.60445933]
 [-0.66801553  1.88715566]
 [-0.21338694  2.21405177]
 [ 1.15049883 -0.87057884]
 [-0.89532983 -0.76533419]
 [-1.34995842  0.0593019 ]
 [ 0.01392735 -0.52329992]
 [ 0.46855594  0.33643323]
 [-1.80458701 -0.5953327 ]
 [-1.12264412 -0.64971136]
 [ 0.92318453 -0.10580983]
 [ 0.24124165 -0.71641119]
 [ 0.92318453 -0.17084196]
 [ 1.37781313 -0.15109744]
 [ 1.37781313 -0.52782248]
 [ 0.46855594  2.21405177]
 [ 0.24124165 -0.68379586]
 [ 0.46855594 -0.82659078]
 [ 2.28707031  0.66827519]
 [ 1.15049883  0.06840713]
 [ 0.01392735  2.01379799]
 [-0.66801553 -0.76533419]
 [ 0.92318453 -0.74576503]
 [ 0.92318453  0.10267121]
 [ 0.69587024  0.64141438]
 [ 0.01392735 -0.86843464]
 [ 0.01392735  0.31470129]
 [ 0.69587024  0.64837253]
 [-1.12264412 -0.6892031 ]
 [-1.12264412 -0.61191968]
 [ 0.01392735 -0.88871406]
 [-0.21338694  2.08940777]
 [-1.12264412 -0.73567116]
 [ 0.69587024  3.35351955]
 [-0.66801553 -0.4505048 ]
 [-0.89532983 -0.3164412 ]
 [-0.44070124 -0.48904791]
 [ 0.69587024 -0.74576503]
 [ 2.5143846  -0.74576503]
 [-1.34995842 -0.65821162]
 [ 1.60512742  0.06046954]
 [ 2.28707031  0.03011769]
 [ 2.05975601 -0.24891662]
 [ 2.7416989  -0.14447853]
 [ 0.24124165  0.90855906]
 [-0.89532983 -0.79293264]
 [ 0.46855594         nan]
 [ 0.92318453  2.84209436]
 [-0.44070124 -0.76533419]
 [-0.89532983 -0.69710604]
 [-1.12264412 -0.69147749]
 [-0.66801553         nan]
 [-0.66801553         nan]
 [ 1.60512742  0.91815612]
 [-0.44070124  0.79590654]
 [ 0.24124165         nan]
 [ 0.24124165  0.1189492 ]
 [ 0.24124165 -0.08674035]
 [ 0.24124165  0.70018294]
 [ 0.46855594  0.83677727]
 [-0.21338694 -0.71641119]
 [ 0.01392735 -0.34570717]
 [ 0.46855594 -0.38149382]
 [-0.89532983  0.42655318]
 [-0.89532983 -0.89459475]
 [ 0.69587024 -0.70410956]
 [-0.44070124 -0.76533419]
 [-0.21338694  1.1279882 ]
 [-0.44070124 -0.76533419]
 [ 0.46855594 -0.67440805]
 [ 0.01392735  2.04299962]
 [-0.44070124 -0.73271886]
 [-0.44070124  1.10136191]
 [ 0.01392735 -0.91645055]
 [ 0.92318453 -0.74576503]
 [ 0.24124165 -0.2796395 ]
 [ 0.69587024  2.8422858 ]
 [-1.12264412 -0.70831719]
 [ 2.05975601 -0.74576503]
 [ 1.60512742  0.50873572]
 [ 2.96901319  0.07797949]
 [ 2.5143846  -0.38838592]
 [ 0.24124165  0.98735376]
 [-0.66801553  2.21405177]
 [ 0.01392735 -0.69738172]
 [ 1.37781313 -0.88871406]
 [ 2.96901319 -0.87911299]
 [ 0.01392735 -0.24193895]
 [ 1.60512742  1.64545355]
 [-0.21338694 -0.82659078]
 [ 1.83244172 -0.6401032 ]
 [-0.21338694 -0.54422395]
 [-0.66801553 -0.67737166]
 [ 1.83244172 -0.38054807]
 [ 0.69587024  1.37024818]
 [ 0.92318453 -0.73567116]
 [ 1.83244172  0.17302901]
 [ 0.92318453  2.6475187 ]
 [-0.66801553 -0.74576503]
 [-0.66801553 -0.82659078]
 [-1.12264412 -0.58952036]
 [ 0.01392735 -0.28896106]
 [ 1.15049883 -0.16132952]
 [ 0.92318453  0.9406885 ]
 [-0.66801553 -0.73567116]
 [ 0.01392735  0.60445933]
 [ 0.01392735  1.58568488]
 [-0.66801553 -0.74576503]
 [ 0.01392735 -0.89084774]
 [ 0.69587024 -0.74576503]
 [-1.34995842 -0.82659078]
 [ 0.24124165  0.24263061]
 [ 0.92318453  1.657419  ]
 [-0.89532983 -0.4269587 ]
 [-1.12264412  0.28501127]
 [-0.66801553 -0.34619938]
 [ 0.69587024  0.15934456]
 [ 0.01392735 -0.51761279]
 [-0.21338694  1.37024818]
 [ 0.46855594  0.41301212]
 [-0.89532983 -0.122236  ]
 [ 1.15049883  3.32161793]
 [ 0.92318453  1.01637945]
 [ 0.69587024  1.90304578]
 [ 0.69587024 -0.74576503]
 [ 2.05975601 -0.38054807]
 [ 1.60512742 -0.8769795 ]
 [-0.66801553 -0.76533419]
 [ 0.46855594  0.13421233]
 [-1.12264412 -0.82659078]
 [ 1.37781313 -0.74576503]
 [ 1.60512742  2.90182589]
 [-0.89532983         nan]
 [-0.21338694 -0.73924204]
 [-1.57727272 -0.452     ]
 [ 0.69587024         nan]
 [-0.21338694 -0.74576503]
 [-0.89532983 -0.48904791]
 [-1.57727272 -0.12846187]
 [-1.34995842 -0.21082246]
 [ 0.46855594  0.58531461]
 [-0.21338694  0.67041232]
 [-0.89532983 -0.76533419]
 [-0.66801553 -0.67930145]
 [-0.21338694 -0.47136048]
 [-0.66801553  0.06697511]
 [-1.12264412 -0.44740527]
 [ 0.69587024 -0.10389536]
 [-0.44070124  1.22666277]
 [ 1.15049883  0.03011769]
 [ 1.37781313 -0.16132952]
 [-1.12264412  0.16311109]
 [ 0.69587024 -0.08953682]
 [-0.66801553 -0.81957941]
 [ 1.60512742 -0.29534257]
 [ 1.15049883  1.22041987]
 [ 0.01392735 -0.87484601]
 [ 1.37781313  1.56169539]
 [-0.21338694  0.60445933]
 [-1.57727272 -0.55949378]
 [-0.89532983 -0.03440768]
 [ 0.69587024 -0.5115889 ]
 [ 0.69587024 -0.71641119]
 [ 0.46855594 -0.88871406]
 [-0.44070124  2.10769327]
 [ 0.24124165 -0.38838592]
 [ 0.24124165 -0.35277674]
 [-0.44070124 -0.25067162]
 [ 0.46855594  1.07339741]
 [-0.21338694  1.2239739 ]
 [ 0.01392735  1.75314261]
 [-1.34995842 -0.6237741 ]
 [-1.34995842 -0.678237  ]
 [-0.66801553 -0.59979744]
 [ 2.05975601 -0.74576503]
 [-1.57727272 -0.33320317]
 [ 1.60512742 -0.09528023]
 [-1.34995842 -0.57447261]
 [-0.89532983 -0.87763138]
 [-0.89532983         nan]
 [ 0.24124165 -0.17090169]
 [-0.21338694 -0.64484095]
 [ 2.96901319  0.70018294]
 [-1.57727272 -0.68166773]
 [-1.34995842 -0.51582084]
 [-0.89532983 -0.53332677]
 [-0.44070124 -0.55593286]
 [ 0.69587024  1.3893929 ]
 [ 2.05975601 -0.74576503]
 [-0.44070124  1.50426123]
 [ 0.46855594 -0.7070498 ]
 [-0.44070124         nan]
 [-1.57727272  0.16481995]
 [-1.34995842  0.17536486]
 [-1.12264412 -0.49080252]
 [ 1.83244172 -0.20919133]
 [ 0.01392735  2.93219363]
 [ 1.15049883 -0.32693136]
 [-0.66801553 -0.70882261]
 [-0.21338694  1.41810998]
 [-0.66801553  2.21405177]
 [-0.66801553 -0.64702345]
 [ 2.5143846  -0.88444709]
 [ 0.69587024 -0.2869189 ]
 [-1.34995842 -0.54010401]
 [-0.66801553 -0.69531409]
 [ 0.24124165 -0.06560592]
 [-0.66801553  0.05661973]
 [ 0.01392735  2.2785155 ]
 [-1.57727272 -0.82659078]
 [-0.44070124  0.61267146]
 [-0.89532983 -0.80744606]
 [-0.66801553 -0.74576503]
 [ 0.01392735  0.40933671]
 [-0.89532983 -0.37305885]
 [ 0.24124165  0.2215649 ]
 [ 1.60512742  0.03318085]
 [-0.66801553 -0.33824972]
 [-0.44070124 -0.11609304]
 [-0.66801553 -0.44368353]
 [-0.89532983 -0.82659078]
 [-0.21338694 -0.65612102]
 [ 0.69587024 -0.38054807]
 [-1.57727272 -0.42213423]
 [ 0.24124165 -0.01295793]
 [-0.89532983 -0.41820574]
 [-0.66801553  0.88463926]
 [-1.57727272 -0.20388441]
 [-0.66801553  1.37024818]
 [-0.89532983 -0.70199943]
 [-0.21338694  2.02300086]
 [-0.89532983 -0.6689633 ]
 [ 0.24124165 -0.53465159]
 [-0.21338694 -0.73924204]
 [-1.57727272 -0.49831491]
 [-0.21338694 -0.46126355]
 [-0.66801553 -0.75481588]
 [-0.21338694 -0.37192146]
 [-0.21338694 -0.74576503]
 [        nan         nan]]

In [31]:
dfx=pd.DataFrame(data= x,columns=['Age2','Salary2'])
df=pd.concat([df,dfx],axis=1)
df=df.drop(['Age','Salary'],axis=1)
print(df)

              Name            Team  Number Position Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF   6-10   231.0
..             ...             ...     ...      ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C    7-0   231.0
457            NaN             NaN     NaN      NaN    NaN     NaN

               College      Age2   Salary2      Age2   Salary2      Age2  \
0                Texas -0.440701  0.552833 -0.440701  0.552833 -0.440701
1            Marquette -0.440701  0.373979 -0.440701  0.373979 -0.440701
2    Boston University  0.013927       NaN  0.013927       NaN  0.013927
3        Georgia State -1.122644 -0.707214 -1.122644 -0.707214 -1.122644
4                  NaN  0.468556  0.030118  0.468556  0.030118  0.468556
..                 ...       ...       ...       ...       ...       ...
453             Butler -0.213387 -0.461264 -0.213387 -0.461264 -0.213387
454                NaN -0.668016 -0.754816 -0.668016 -0.754816 -0.668016
455                NaN -0.213387 -0.371921 -0.213387 -0.371921 -0.213387
456             Kansas -0.213387 -0.745765 -0.213387 -0.745765 -0.213387
457                NaN       NaN       NaN       NaN       NaN       NaN

      Salary2
0    0.552833
1    0.373979
2         NaN
3   -0.707214
4    0.030118
..        ...
453 -0.461264
454 -0.754816
455 -0.371921
456 -0.745765
457       NaN

[458 rows x 13 columns]

<h3>Exercice 3</h3>

In [35]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
df=pd.read_csv('pokemon.csv')
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [36]:
df['type1'].unique()
dummy=pd.get_dummies(df['type1'])
print(dummy)

       bug   dark  dragon  electric  fairy  fighting   fire  flying  ghost  \
0    False  False   False     False  False     False  False   False  False
1    False  False   False     False  False     False  False   False  False
2    False  False   False     False  False     False  False   False  False
3    False  False   False     False  False     False   True   False  False
4    False  False   False     False  False     False   True   False  False
..     ...    ...     ...       ...    ...       ...    ...     ...    ...
796  False  False   False     False  False     False  False   False  False
797  False  False   False     False  False     False  False   False  False
798  False   True   False     False  False     False  False   False  False
799  False  False   False     False  False     False  False   False  False
800  False  False   False     False  False     False  False   False  False

     grass  ground    ice  normal  poison  psychic   rock  steel  water
0     True   False  False   False   False    False  False  False  False
1     True   False  False   False   False    False  False  False  False
2     True   False  False   False   False    False  False  False  False
3    False   False  False   False   False    False  False  False  False
4    False   False  False   False   False    False  False  False  False
..     ...     ...    ...     ...     ...      ...    ...    ...    ...
796  False   False  False   False   False    False  False   True  False
797   True   False  False   False   False    False  False  False  False
798  False   False  False   False   False    False  False  False  False
799  False   False  False   False   False     True  False  False  False
800  False   False  False   False   False    False  False   True  False

[801 rows x 18 columns]

In [37]:
x=df[['height_m','hp','weight_kg']]
mise_a_echelle=StandardScaler()
x=mise_a_echelle.fit_transform(x)
print(x)

[[-0.42967549 -0.902083   -0.49849694]
 [-0.15180365 -0.33731164 -0.44267944]
 [ 0.77443582  0.41571685  0.35340613]
 ...
 [ 4.01627395  5.79987055  7.56392833]
 [ 1.1449316   1.05579107  1.54295929]
 [-0.15180365  0.41571685  0.17497316]]